<!doctype html>
<html lang="en">
<head>
    <title>GoGetter Design</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}}

        <section class="bg-white py-4">
          <div class="container pt-4">
              <div class="row align-items-center justify-content-around header-row">
                  <div class="col-12 col-md-5 col-lg-5 text-center text-md-left">
                      <h1 class="display-4 mobile-header">{{ page.hero.greeting }}</h1>
                      <p class="lead mt-3">{{ page.hero.introduction }}</p>
                      <a href="#" class="btn btn-success btn-lg">Get Started Now</a>
                  </div>
                  <div class="col-md-7">
                      <img alt="Image" src="{{{page.hero.img_background}}}" class="box-shadow img-fluid" />
                  </div>
              </div>
          </div>
      </section>

      <section class="py-md-5 block">
          <div class="container">
              <div class="row block-header">
                  <div class="col-sm-8 mx-auto text-center">
                      <h1 class="display-4 mt-5">What We Do</h1>
                      <hr>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
                  </div>
              </div>
              <div class="row mt-5 text-center">
                  <div class="col-md-6 col-xl-4">
                      <p class="feature-icon"><img src="{{{page.features.feature-1.img_1}}}" alt=""/></p>
                      <h5>UI/UX Design</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
                  <div class="col-md-6 col-xl-4">
                      <p class="feature-icon"><img src="{{{page.features.feature-1.img_2}}}" alt=""/></p>
                      <h5>App Development</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
                  <div class="col-md-6 col-xl-4">
                      <p class="feature-icon"><img src="{{{page.features.feature-1.img_2}}}" alt=""/></p>
                      <h5>Consulting</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  </div>
              </div>
          </div>
      </section>

      <section class="py-5 py-md-7">
          <div class="container py-md-5">
              <div class="row block-header">
                  <div class="col-sm-8 mx-auto text-center">
                      <h1 class="display-4 mt-2">Our Latest Work</h1>
                      <hr>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
                  </div>
              </div>

              <div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/portfolio-2zw61z">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_1}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Revol Music</h5>
                                          <p>Media Streaming</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/agency-web-8jcmww">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_2}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Remoted</h5>
                                          <p>Gig Economy</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/painting-k7u7ow">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_3}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Homebase</h5>
                                          <p>Media Sharing</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/web-app-ajs763">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_4}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Wifone</h5>
                                          <p>Communications App</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/business-tyb3es">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_5}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Knile</h5>
                                          <p>E-Commerce</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-2r">
                      <a href="/project/modern-web-44gypc">
                          <div class="position-relative project">
                              <div class="image position-relative ">
                                  <img src="{{{page.gallery.img_6}}}" class="img-fluid w-100 d-block">
                                  <div class="overlay-box">
                                      <div class="overlay-inner overlay-content">
                                          <h5 class="mb-0">Lizzy List</h5>
                                          <p>Recipe Sharing and Cloud Storage</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </section>


        {{>footer}}
    </div>

    {{>scripts}}
</body>
</html>